@model IEnumerable<Asp_net_timetable.Models.GroupMSModel>

@{
    ViewBag.Title = "Группа МС-5";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dayname = null;
    string timename = null;
    bool week_used;
}

<div class="text-center">
    <h1 class="display-4">Расписание занятий</h1>
    <h4>Первая подгруппа верхняя неделя</h4>
    <div class="bs-component">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    @Html.ActionLink("Первая подгруппа", "Index", "GroupMS")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Вторая подгруппа", "Index_Second", "GroupMS")
                </li>
            </ul>
        </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">9:00 - 10:20</th>
            <th scope="col">10:20 - 12:00</th>
            <th scope="col">12:10 - 13:30</th>
            <th scope="col">14:00 - 15:20</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            week_used = true;
            timename = Convert.ToString(item.dayOfWeek);
            <tr>
                @foreach (var data in Model)
                {
                    if (Convert.ToString(item.dayOfWeek) != dayname)
                    {
                        <th scope="row">@Html.DisplayFor(modelItem => item.dayOfWeek)</th>
                        dayname = Convert.ToString(item.dayOfWeek);
                        week_used = false;
                    }
                    if (Convert.ToString(data.dayOfWeek) == timename && week_used == false)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => data.subject)<br>
                            @Html.DisplayFor(modelItem => data.teacher)
                            @Html.DisplayFor(modelItem => data.lecture_room)
                            @*@Html.DisplayFor(modelItem => data.subgroup)*@
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>


@*<p>
    <a href="GeneratePdf">Скачать (.pdf)</a>
</p>*@

<p>
    <a href="GeneratePdfTop">Скачать (.pdf)</a>
</p>

<div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">«</a>
        </li>
        <li class="page-item">
            @Html.ActionLink("Нижняя неделя", "Index", "GroupMS")
        </li>
        <li class="page-item active">
            @Html.ActionLink("Верхняя неделя", "IndexTop", "GroupMS")
        </li>
        @*<li class="page-item">
                @Html.ActionLink("Вторая подгруппа", "Index", "GroupMS", low_week = "Верхняя")
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>*@
        <li class="page-item">
            <a class="page-link" href="#">»</a>
        </li>



    </ul>
</div>