@model Asp_net_timetable.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Зарегистрироваться</h2>


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal">
        <h4>Введите данные</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<img src="https://sun9-70.userapi.com/impg/o_frOhLOsz5_lFdlS7Jtiiow4vh3xGJu_s5Sxg/_XdlLI0k8hA.jpg?size=1280x311&quality=96&sign=cf6f5e67bd1533196afe005a48d3d4c7&type=album" class="img-fluid" alt="...">

<div>
    <h4>
        @Html.ActionLink("Перейти на сайт", "Index", "Home")
    </h4>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
